@model HomeViewModel
@{
    ViewData["SiteMetadata"] = Model.Metadata;
    ViewData["Author"] = Model.Author;
    if (Model.Page.Title != null)
    {
        ViewBag.Title = $"{Model.Page.Title} - {Model.Metadata.Title}";
    }
}
@await Html.PartialAsync("Shared/Sidebar/_Sidebar", Model.Sidebar)
<div class="content">
    <div class="content__inner">
        <div class="page">
            @if (!string.IsNullOrWhiteSpace(Model.Page.Title))
            {
                <h1 class="page__title">
                    @Model.Page.Title
                </h1>
            }
        <div class="page__body">
            @if (Model.Articles != null)
            {
                @await Html.PartialAsync("Shared/_Posts", Model.Articles);
            }
            else
            {
                @Html.Raw(Model.Page.Body)
            }
        </div>
        </div>
    </div>
</div>
