@model HomeViewModel
@{
    ViewData["SiteMetadata"] = Model.Metadata;
    ViewData["Author"] = Model.Author;
}
@await Html.PartialAsync("Shared/Sidebar/_Sidebar", Model.Sidebar)
<div class="content">
    <div class="content__inner">
        @if (Model.Page != null)
        {
            <div class="page">
                <div class="page__title">
                    @Model.Page.Title
                </div>
                <div class="page__body">
                    @Html.Raw(Model.Page.Description)
                </div>
            </div>
        }
        else
        {
            @await Html.PartialAsync("Shared/_Posts", Model.Articles);
        }
    </div>
</div>
