<div class={styles['contacts']}>
    <ul class={styles['contacts__list']}>
        {Object.keys(contacts).map((name) => (!contacts[name] ? null : (
        <li class={styles['contacts__list-item']} key={name}>
            <a class={styles['contacts__list-item-link']}
               href={getContactHref(name, contacts[name])}
               rel="noopener noreferrer"
               target="_blank">
                <Icon name={name} icon={getIcon(name)} />
            </a>
        </li>
        )))}
    </ul>
</div>