@using Kentico.Kontent.Statiq.Lumen.Models.ViewModels
@model SidebarViewModel
<div class="sidebar">
    <div class="sidebar__inner">
        @await Html.PartialAsync("Shared/Sidebar/_Author", Model.Author)
        @await Html.PartialAsync("Shared/Sidebar/_Menu", Model.Menu)
        @await Html.PartialAsync("Shared/Sidebar/_Contacts", Model.Contacts)
        @await Html.PartialAsync("Shared/Sidebar/_Copyright", Model.Metadata.Copyright)
    </div>
</div>
